@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --primary-color : #902A2A;
    --secondary-color: #C73E3E;
    --heading-color : #222222;
    --body-color : #424242;
    --back-color : #EEEEEE;
    --chip-color : #CBCBCB;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    max-width: 600px;
    margin: auto;
    color: var(--body-color);
    padding: 0px 1rem;
}

h1,h2,h3,p{
    margin: 0px;
}

h1 {
    line-height: 56px;
}

h2 {
    line-height: 40px;
}


a {
    text-decoration: none;
}

small {
    font-weight: 400;
    font-size: 13px;
}


h2 {
    color: var(--heading-color);
}

h2{
    margin-bottom: 20px;
}

.centered-container {
    text-align: center;
}

.link
{
    text-decoration: none;
    padding : 12px 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}

.primary-link{
    background-color: var(--secondary-color);
    color: white;
}

.primary-link:hover {
    background-color: var(--primary-color);
}

.secondary-link {
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.secondary-link:hover {
    background-color: black;
    color: white;
}

.centered-container h2 {
    margin-bottom: 20px;
}

.centered-container a{
    display: inline-block;
}

.section {
    padding: 16px;
    background-color:var(--back-color) ;
    border-radius: 8px;
    margin-bottom: 24px;
}

.section h2 {
    margin-bottom: 16px;
}

.section p {
    padding: 0px;
    margin-bottom: 16px;
}

.section .blog-image {
    width: 100%;
    max-width: 568px;
    display:block;
    margin:auto;
    margin-bottom: 16px;
    border-radius: 8px;
}


.navigation {
    padding-top: 1.5rem;
    margin-bottom: 32px;
}

.navigation .personallogo
{
    margin: auto;
    max-width: 80px;
}

.navigation .nav-elements{
    text-align: center;
    padding: 0px;
}
.navigation .list li{
    display: inline;
    padding: 0px 16px 0px 0px;
}

.navigation .list a {
    text-decoration: none;
    color: var(--body-color);
}

.navigation li .link-element-active {
    font-weight: 700;
}

.hero {
    margin-top: 20px;
    margin-bottom: 48px;
    padding: 16px;
}

.hero a {
    color : var(--secondary-color)
}

.hero span {
    color: var(--secondary-color);
}

.hero .hero-img {
    max-width: 270px;
    margin: auto;
    margin-bottom: 20px;
    display: block;
}

.hero .hero-header {
    /* color: var(--heading-color); */
    text-align: center;
    margin-bottom: 20px;
}

.footer {
    margin-top: 48px;
    text-align: center;
    margin-bottom: 32px;
}

.footer .list a {
    text-decoration: none;
    color: var(--body-color);
}

.footer .list li{
    display: inline;
    padding: 0px 16px 0px 0px;
}

.footer .footer-elements {
    padding:  0px;
}

.footer ul {
    margin-bottom: 8px;
}

.footer small {
    text-align: center;
}

.tech
{
    margin: 0px;
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

.tech li
{
    margin-bottom: 8px;
    font-weight: 500;
    padding : 10px 6px;
    background-color: var(--chip-color);
    display: inline-block;
    margin-right: 8px;
    border-radius: 4px;
}


/* blog container */

.blog-container{
    line-height: 24px;
}

.blog-container small {
    margin-bottom: 24px;
}